@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.appContainer {
  box-shadow: 5px 5px 15px -2px rgb(35, 34, 34, 0.8);
  background-color: white;
  padding-top: 22px;
  width: 40%;
  border-radius: 7px;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
}

.taskInput {
  height: 48px;
  padding: 0 24px;
}

.taskInput input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.taskInput input::placeholder {
  font-style: italic;
}

.task-list {
  margin: 15px 20px;
}


.inactive {
  display: none;
}

.task-ui {
  display: flex;
  padding-left: 12px;
  align-items: center;
}

.icon {
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
  padding: 6px;
}

.highlight {
  background-color: #fbfecd;
}

.para {
  margin-left: 12px;
  padding: 12px;
}

.para:focus {
  outline: none;
}


.clear-btn {
  width: 100%;
  border: none;
  background-color: white;
  padding: 15px 0;
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  color: rgb(35, 34, 34);
}

.clear-btn:hover {
  background-color: rgb(223, 220, 220);
  cursor: pointer;
}
